apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: catalogue
spec:
  template:
    spec:
      containers:
        - name: catalogue
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 400m
              memory: 512Mi
