apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
spec:
  template:
    spec:
      containers:
        - name: catalogue
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 400m
              memory: 512Mi
