replicaCount: 3

image:
  tag: "prod-latest"

ingress:
  hosts:
    - host: webdemoapp.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: frontend-prod-tls
      hosts:
        - webdemoapp.com

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 1Gi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

env:
  - name: NODE_ENV
    value: production
  - name: PORT
    value: "3000"
  - name: PRODUCTS_API_BASE_URI
    value: http://catalogue:5000
  - name: RECOMMENDATION_BASE_URI
    value: http://recommendation:8080
  - name: VOTING_BASE_URI
    value: http://voting:8080
  - name: LOG_LEVEL
    value: warn

vault:
  enabled: true
  role: frontend
  secretPath: secret/data/craftista/prod/frontend
